body {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    height: 25rem;
    border: 0.0625rem solid #8055FF;
    border-style: dashed;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 3rem 3rem 2.5rem 3rem;
}
.input__tandem {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem 0rem;
}
.input__text {
    height: 1rem;
    font-size: 13px;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    
}
.input__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    border: 0.0625rem solid;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    box-sizing: border-box;
    border: 1px solid #459DF5;
}
.input__box_empty {
}
.input__box_incorrect{
    border: 1px solid #F53152;

}
.input__box_disabled{
    background: #BAD8F5;
}
.input__main {
    display: flex;
    border: 0;
    padding: 0;
    line-height: 1rem;
    background-color: inherit;
    color: inherit;
    height: 1rem;
    
}
.input__main:focus {
    outline: 0;
}
.input__main_placeholder::placeholder {
    color: #BAD8F5;
}
.input__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: 1.5rem;
    height: 1.5rem;

}
.input__icon {
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background: center;


}
.input__icon_x {
    background-image: url(../icons/x-medium.svg);
    width: 1rem;
    height: 1rem;


}
.input__icon_locked {
    background-image: url(../icons/locked.svg);
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
 
}