html,body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    height: 100%;

}
.page-header {
    height: 2rem;
    background-color: #A8A8FF;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.page-header__text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #8055FF;
}
.item-row {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #A8A8FF;
    padding: 0.5rem;
    margin-bottom: 2rem;
    
}
.item-row__group {
    display: flex;
    justify-content: space-around;    
    align-items: center;
    

}

.item-row__item {
    height: 2rem;
    width: 2rem;
    background-color: #8055FF;
    padding: 0.5rem;
}

.item-row__item_searchbar {
    height: 2rem;
    width: 16rem;
    background-color: #8055FF;
    margin-right: .5rem;

}

.table-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
     
}
.table-wrap__header {
    background-color: #8055FF;
    height: 3rem;
}
.tablewrap__body {
    background-color: #A8A8FF;
    height: 100%
}
.table-wrap__footer {
    background-color:#8055FF;
    height: 3rem;
}